sourcecode/WcfServiceB/Connected Services/ServiceReferenceA/ServiceA1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61699/ServiceA.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedLibray" />
  <xs:element name="UpdatePatientFromB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedLibray" minOccurs="0" name="patient" nillable="true" type="q1:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientFromBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePatientFromBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SharedLibray" minOccurs="0" name="patient" nillable="true" type="q2:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SharedLibray" minOccurs="0" name="patient" nillable="true" type="q3:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatientFromB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SharedLibray" minOccurs="0" name="patient" nillable="true" type="q4:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatientFromBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePatientFromBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SharedLibray" minOccurs="0" name="ReadPatientResult" nillable="true" type="q5:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPatientFromB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPatientFromBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SharedLibray" minOccurs="0" name="ReadPatientFromBResult" nillable="true" type="q6:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePatient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SharedLibray" minOccurs="0" name="CreatePatientResult" nillable="true" type="q7:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePatientFromB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePatientFromBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SharedLibray" minOccurs="0" name="CreatePatientFromBResult" nillable="true" type="q8:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SharedLibray" minOccurs="0" name="getPatientsResult" nillable="true" type="q9:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientsFromB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientsFromBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SharedLibray" minOccurs="0" name="getPatientsFromBResult" nillable="true" type="q10:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionOK">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionOKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectionOKResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>